<div style="padding: 10px">
    <label class="pull-right">
        <span class="glyphicon glyphicon-search" style="position: absolute; margin-top: 88px; margin-left: 165px"></span>
        <input v-model="search" type="text" class="form-control input-sm" style="border-radius: 15px" autofocus />
        <!-- <i style="margin-top: -20px" class="glyphicon glyphicon-search" ></i>     -->
    </label>
    <table class="table table-hover table-condensed" style="font-size: 12px">

       <thead>
           <tr class="text-muted">
           	   <th width="10" title="PAYROLL ID">PID</th>
               <th>DEPARTMENT</th>
           	   <th class="text-center" width="250">Date range</th>
           	   <th class="text-center">DATE PAYROLLED</th>
           	   <th class="text-right">SSS</th>
           	   <th class="text-right">PHIL. HEALTH</th>
           	   <th class="text-right">ADVANCES</th>
           	   <th class="text-right">NET AMOUNT</th>
               <th width="10"></th>
               <th width="10"></th>
           </tr>
       </thead>

       <tbody>
           <tr v-for="payroll in payrolls | filterBy search in 'date' 'sss' 'phil' 'advances' 'net' 'department'p">
                <td>
                    {{ payroll.id }}
                </td>
                <td>{{ getPayrollDepartment(payroll) }}</td>
                <td class="text-center">
                    {{ formatDate(payroll.date_from) }} - {{ formatDate(payroll.date_to) }}
                </td>
                <td class="text-center">
                    {{ setDate(payroll) }} {{ formatDate(payroll.created_at) }}
                </td>
                <td class="text-right">
                    {{ payrollTotal(payroll, 'sss') | currency '' }}
                </td>
                <td class="text-right">
                    {{ payrollTotal(payroll, 'phil') | currency '' }}
                </td>
                <td class="text-right">
                    {{ payrollTotal(payroll, 'advances') | currency '' }}
                </td>
                <td class="text-right">
                    {{ getNet(payroll) | currency '' }}
                </td>
                <td>
                    <a style="cursor: pointer" @click="showModalOpenPayroll(payroll)"><i class="fa fa-view"></i>show</a>
                </td>
                <td><a class="text-danger" style="cursor: pointer" @click="deletePayroll(payroll)"><i class="glyphicon glyphicon-trash"></i></a></td>
           </tr>
       </tbody>

   </table>
   <modal-payrollemp></modal-payrollemp>
</div>

