<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HR Info System</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a v-link="{ path: '/EmployeeList' }">Employees List</a></li>
              <li><a v-link="{ path: '/CreateEmployee' }">Create Employee</a></li>
              <li><a v-link="{ path: '/Users'}">Users</a></li>
              <li><a v-link="{ path: '/Payrolls'}">Payrolls</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout">logout</a></li>
              <!-- <li><a href="../navbar-fixed-top/">Fixed top</a></li> -->
            </ul>
          </div>
        </div>
    </nav>